.svg-map {
  width: 100%;
  height: auto;
  stroke: #55d95c;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;

  &__location {
    fill: #d4f4d0;
    cursor: pointer;

    &:focus,
    &:hover {
      fill: rgba(255, 52, 52, 0.55);
      outline: 0;
    }

    &[aria-checked="true"] {
      fill: rgba(255, 52, 52, 0.55);
    }
  }
}
